@model SS1892.EPLPredictor.Models.ResultModel

@{
    ViewData["Title"] = "EditResult";
}

<h1>Result for @Model.Fixture</h1>

<h4>ResultModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditResult">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Type" />
            <input type="hidden" asp-for="FixtureId"  />
            <div class="form-group">
                <label asp-for="FixtureId" class="control-label"></label>
                <input readonly asp-for="FixtureId" class="form-control" />                
            </div>
            <div class="form-group">
               @* <label asp-for="HomeTeam" class="control-label"></label>*@
                @Html.DisplayFor(modelItem => modelItem.HomeTeam)
                <input asp-for="HomeTeamScore" class="form-control" />
                <span asp-validation-for="HomeTeamScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="AwayTeam" class="control-label"></label>*@
                @Html.DisplayFor(modelItem => modelItem.AwayTeam)
                <input asp-for="AwayTeamScore" class="form-control" />
                <span asp-validation-for="AwayTeamScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
