@model ChangePasswordModel
@{
    ViewData["Title"] = "ChangePassword";
}
<h2>Change Password</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post" asp-action="ChangePassword" asp-controller="Authentication">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="UserName" class="form-control" />
            <div class="form-group">
                <label asp-for="UserName"></label> : <span style="font-weight:bold">@Model.UserName</span>

            </div>
            <div class="form-group">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" class="form-control" value="" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>