@model SS1892.EPLPredictor.Models.PredictionModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Predict</h1>
<h2>for @Model.HomeTeam vs @Model.AwayTeam</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input readonly asp-for="Id"  class="form-control" value="@Model.Id" />
                
            </div>
            <div class="form-group">
                <label asp-for="FixtureId" class="control-label"></label>
                <input readonly asp-for="FixtureId" class="form-control" />                
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input readonly asp-for="UserId" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomeTeamScore" class="control-label"></label>
                <input asp-for="HomeTeamScore" class="form-control" />
                <span asp-validation-for="HomeTeamScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AwayTeamScore" class="control-label"></label>
                <input asp-for="AwayTeamScore" class="form-control" />
                <span asp-validation-for="AwayTeamScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedDate" class="control-label"></label>
                <input asp-for="UpdatedDate" class="form-control" />
                <span asp-validation-for="UpdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>    
    <a asp-action="GetPredictionsByFixture" asp-controller="Predictions" asp-route-fixId="@Model.FixtureId">Back to Prediction</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
